// Font
$root-font-family: "Kumbh Sans", sans-serif;
$root-font-size: 18px;
$root-font-weight: 400;

// Color
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

// Global Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
  color: $dark-grayish-blue;
}

body {
  width: 100vw;
  height: 100vh;
  background: $dark-cyan url(./sources/images/bg-pattern-top.svg),
    url(./sources/images/bg-pattern-bottom.svg);
  background-position: left -50vw top -60vh, right -75vw bottom -45vh;
  background-repeat: no-repeat;
  background-size: cover;

  main {
    max-width: 350px; // use max-width instead of fixed width
    height: auto; // Allow height to adjust based on content
    background-color: white;
    box-shadow: 0 10px 50px 20px rgba($very-dark-desaturated-blue, 0.15);
    border-radius: 15px;
    background-image: url(./sources/images/bg-pattern-card.svg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 87px 0 23px;

    img {
      width: 106px;
      height: 106px;
      border: 5px solid white;
      border-radius: 50%;
    }

    .detail {
      display: flex;
      flex-direction: column;
      align-items: center;

      .personal {
        display: flex;

        .name {
          color: $very-dark-desaturated-blue;
          font-weight: 700;
          margin-right: 10px;
          margin-bottom: 8px;
        }
      }

      .city {
        font-size: 0.75rem;
      }
    }

    hr {
      width: 100%;
      border-top: 1px solid rgba($dark-gray, 0.3);
    }

    .state {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;

      .follower-state,
      .like-state,
      .photo-state {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
          color: $very-dark-desaturated-blue;
          font-weight: 700;
          margin-bottom: 5px;
        }

        .type {
          font-size: 0.55rem;
          letter-spacing: 2px;
          color: $dark-gray;
        }
      }
    }
  }
}

// Media Queries
@media (min-width: 1440px) {
  body {
    background-position: left -12vw top -60vh, right -11vw bottom -76vh;
    background-size: 60%, 62%;
  }

  main {
    width: 350px;
    height: 375px;

    .state {
      padding: 0 45px;
    }
  }
}
