* {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

body {
  width: 100vw;
  height: 100vh;
  background: hsl(185, 75%, 39%);
  background-image: url(./sources/images/bg-pattern-top.svg), url(./sources/images/bg-pattern-bottom.svg);
  background-position: left -50vw top -60vh, right -75vw bottom -45vh;
  background-repeat: no-repeat, no-repeat;
  background-size: 110vw 90vh, 130vw 90vh;
}
body main {
  width: 325px;
  height: 374px;
  background-color: white;
  box-shadow: 0 10px 50px 20px rgba(45, 50, 72, 0.15);
  border-radius: 15px;
  background-image: url(./sources/images/bg-pattern-card.svg);
  background-size: fit-content 240px;
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 87px 0 23px 0;
}
body main img {
  width: 106px;
  height: 106px;
  border: 5px solid white;
  border-radius: 50%;
}
body main .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}
body main .detail .personal {
  display: flex;
}
body main .detail .personal .name {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 8px;
}
body main .detail .city {
  font-size: 0.75rem;
}
body main hr {
  width: 100%;
  border-top: 1px solid rgba(150, 150, 150, 0.3);
  border-bottom: none;
  border-right: none;
  border-left: none;
}
body main .state {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 40px;
}
body main .state .follower-state,
body main .state .like-state,
body main .state .photo-state {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .state .follower-state .number,
body main .state .like-state .number,
body main .state .photo-state .number {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  margin-bottom: 5px;
}
body main .state .follower-state .type,
body main .state .like-state .type,
body main .state .photo-state .type {
  font-size: 0.55rem;
  letter-spacing: 2px;
  color: hsl(0, 0%, 59%);
}
body main .state .like-state {
  padding-right: 7px;
}

@media (min-width: 1440px) {
  body {
    background-position: left -12vw top -60vh, right -11vw bottom -76vh;
    background-size: 60%, 62%;
  }
  body main {
    width: 350px;
    height: 375px;
  }
  body main .state {
    padding: 0 50px 0 45px;
  }
}